.table-wrapper{
height: auto;
}

.text-design{
    color:rgb(69, 65, 65);
}

.button-design{
    height: 35px;
    width: 65px;
    color: white;
    background-color: #2f3f49;
    border:1px solid #14232e;
}

.table{
    background-color: transparent;
    text-decoration-color: rgb(28, 28, 28);
    border-right: 1px solid black;
}

.table th{
    color: rgb(19, 19, 19);
}

.table tbody tr{
    color: rgb(89, 148, 174);
}

.table-row-design{
background-color: transparent;
}

.calender-col{
    border-right: 1px solid rgb(112, 106, 106);
    border-bottom: 1px solid rgb(112, 106, 106);
}

.stat-row{
    border-left: 1px solid rgb(112, 106, 106);
    border-right: 1px solid rgb(112, 106, 106);
    border-bottom: 1px solid rgb(112, 106, 106);

}
